body {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif; 
    
  }
.descripcion {
    background-color: rgb(0, 0, 0, 0.5);
    border-radius: 1rem;
}